{% load static %}

<html>​
<head>​
    <title>SITE DO GUIZAO</title>​
    <meta charset=“utf-8” />​    
    <link rel="stylesheet" href="{% static 'estilos/meuestilo.css' %}">
    
   
    
</head>​
<style >
    body{
        background-image: url("{% static 'imagens/fundoReceita.jpg' %}");
        background-size: cover;
    }


    *{
        margin: 0;
        padding:0;
    }


    #posi{
        position:absolute;
        left:20%;
        top: 25%;
        margin-left:200px;
        margin-top:200px;
        
        
        border: 1px solid black;
        width: 300px;
        margin: auto;
        background-color: rgb(65, 236, 116);
    }
    
</style>
<body>
    <header class="cabecalho">
        <a class="menu" href="home.html">
            <img src="{% static 'imagens/folha.png' %}" alt="imagem" width="80" height="70">
            </a>

    
    <div class="efeito"></div>

    
</header>


    <nav>
        <p> GUIZAO PICA  </p>
        <ul>
            <li><a href="home.html"> Página Inicial </a></li>
            <li><a href="#"> Entenda nosso mundo </a>
            <ul>
                <li><a href="vegetariano.html"> Vegetarianismo </a></li>
                <li><a href="vegano.html"> Veganismo </a></li>
                
            </ul>
            </li>
            <li><a href="#"> Receitas </a>
                <ul>
                    <li><a href="receitas.html"> Vegetarianas </a></li>
                    <li><a href="receitas.html"> Veganas </a></li>
                </ul>
            </li>

            <li><a href="#">  </a></li>
        </ul>



            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </body>
    </body>
</html>